<div class="container">
  <p>Welcome on EFMS(Equatorial Forest Meteo Service), start by writing a city in the form below</p>
  <form class="form">
    <mat-form-field class="full-width">
      <mat-label>Cerca la città</mat-label>
      <input type="text" placeholder="es. Roma" aria-label="Number" matInput [formControl]="formControl"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>