.container {
    width: 90%;
    height: 88vh;
    margin: auto;
    text-align: center;
    background: rgb(153,169,247);
    background: linear-gradient(145deg, rgba(153,169,247,1) 0%, rgba(179,192,255,1) 34%, rgba(90,101,154,1) 100%); 
}

.example-form {
    margin-top: auto;
}